<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="search">
        <form action="#" class="header_search_form menu_mm">
            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="index.html">Trang chủ</a></li>
            <li class="menu_mm"><a href="#">Các khóa học</a></li>
            <!-- <li class="menu_mm"><a href="#">Khóa học của tôi</a></li>
            <li class="menu_mm"><a href="#">Kích hoạt khóa học</a></li>-->

        </ul>
    </nav>
</div>


<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll"
        data-image-src="assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Các khóa học phổ biến</h2>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="course_col">
                     <div class="course">  
                    <div class="course_image">
                        <img src="images/courses/img_courses1.jpg" alt="Course Image">
                    </div>
                    <div class="course_like"><i class="fa fa-heart" aria-hidden="true"></i></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html">Lorem ipsum dolor sit adipi sicing elit. Est eum eveniet,</a></h3>
                        <div class="course_avatar_teacher">
                            <div class="course_avatar"><img src="images/teachers/photo.jpg" class="img-fluid rounded-circle" alt="Avatar Teacher"></div>
                            <div class="course_teacher">
                                <a href="#">Lorem ipsum, dolor sit amet</a>
                            </div>
                        </div>
                        <div class="course_text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eveniet, repudiandae doloremque, iusto unde quis optio temporibus consequatur repellendus corporis saepe ipsam velit quibusdam sit quae minus. Aperiam, repellat.</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                            <div class="course_info">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <span>20 Học viên</span>
                            </div>
                            <div class="course_info">
                                <div class="star_outer">
                                    <div class="star_inner"></div>
                                </div>
                                <span class="course_rating">4.7</span>
                                <span class="course_count_rating">(129)</span>
                            </div>
                            <div class="course_price ml-auto">239.000đ</div>
                        </div>
                        <div class="course_button d-flex justify-content-between">
                            <a name="btnAddCard"  class="btn btn-primary" href="javascipt:;" role="button">
                                 <i class="fa fa-cart-plus"></i>
                                 Thêm Vào Giỏ Hàng
                            </a>
                            <a name="btnDetail"  class="btn btn-outline-primary" href="javascipt:;" role="button">
                                Xem Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="#">view all courses</a></div>
            </div>
        </div>
    </div>
</div>