<div class="chapter" data-stt="{{chapter_stt}}">
    <div class="chapter-name">
        <div class="form-group">
            <label class="control-label">Chương <span class="chapter_stt">{{chapter_stt}}</span></label>
            <input type="text" name="ChapName" class="form-control" placeholder="Nhập tên chương">
        </div>
        <a name="remove" class="btn-remove-chapter btn btn-primary" href="#" role="button"><i class="fa fa-times"></i></a>
    </div>

    <div class="w-100 insert-lesson"></div>

    <div class="w-100 p-2">
        <button type="button" class="btn-add-lesson btn btn-primary "><i class="fa fa-plus-circle"
                aria-hidden="true"></i> Thêm
            bài mới </button>
    </div>



</div>

