<div class="lesson" data-stt="{{lesson_stt}}">
    <div class="lesson-name">
        <div class="form-group">
            <label class="control-label">Bài <span>{{lesson_stt}}</span></label>
            <input type="text" name="LessName" class="form-control" placeholder="Nhập tên bài học">
        </div>
        <a name="remove" class="btn-remove-lesson btn btn-primary" href="#" role="button"><i class="fa fa-times"></i></a>
    </div>
    <div class="upload-video">
        <div class="file-loading">
            <input class="input-video" name="input-video" type="file">
        </div>
    </div>
    <div class="form-group w-100">
        <div class="alert alert-warning" role="alert" style="display: none;">
            <strong>#</strong>
        </div>
        <label class="control-label">Thêm nội dung bài học</label>
        <textarea class="txt_description"></textarea>
    </div>

</div>
