
.main_nav .dropdown
{
    position: relative;
}

.main_nav .dropdown .dropdown_content, .main_nav .dropdown .dropdown_menu {

    min-width: 16rem;
    padding: 0;
    font-size: 16px;
    border-radius: 2px;
    border: 0;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgb(129, 157, 170);
    z-index: 1;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif!important;
    height: 350px;
    overflow: hidden;
    overflow-y: auto;
   
}


.main_nav .dropdown  li{
    width: 100%;
}

.main_nav .dropdown  .list_title{
     font-weight: 600;
     color: #000;
     width: 100%;
     font-weight: 500;
     padding: 10px;
}

.main_nav .dropdown  li a{

    width: 100%;
    font-size: 14px;
    padding: 7px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    border-bottom: rgb(131, 193, 230) 1px solid;

}

.main_nav .dropdown:hover .dropdown_content{
    display: block;

}

.main_nav .dropdown  li a:hover{
   background-color: #2CC3ED!important;
   color: #fff;

}

.main_nav .dropdown .dropdown_content
{
    right:50%;   
}

.main_nav .dropdown .dropdown_menu
{
    left:50%;   
}

.list-group{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.list-group>*{
    background-color: #fff;
    height: 250px;
}

.list-group .card_wrap{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.list-group img{
    width: 100%;
    min-height: 200px;
}

.carousel-indicators {

    bottom: 20px;
}

.courses{
    padding-top:0 ;
    margin-top: 200px;
}

.course_button {
    font-size: 1rem;
    padding: 0.15rem 0.25rem;
    margin-bottom: 1rem;


}

.course_button .btn-add:hover,.course_button .btn-detail ,.add_comment .btn:hover{
    color: #14BDEE;
    background-color: #fff;
    border-color:#14BDEE;
}

.course_button .btn-add, .course_button .btn-detail:hover, .add_comment .btn{
    color: #fff;
    background-color: #14BDEE;
    border-color:#fff;
}

.course{
    position: relative;
}

.course .course_title{
    height: 4rem;
}

.course .course_like
{   
    position: absolute;
    top:8px;
    right:16px;
    font-size: 2rem;
    color: rgb(224, 224, 224);
    display: block;
}

.course .course_like:hover i
{    
    color: rgb(226, 53, 53);
}

.owl-theme .owl-nav{
    background: none;
    position: absolute;
    top: 20%;
    width: 100%;
   
}

.owl-theme .owl-dots{
    margin: 2rem 0;
}

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next{
    
    background-color: #fff;
    color: #14BDEE;
    padding: 0;
    font-size: 1.3rem;
    border-radius:50%;
    width: 60px;
    height: 60px;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,.15);
    border: none!important;
    line-height: 62px;

}

.owl-theme .owl-nav .owl-prev{
     right:47%;
     
}

.owl-theme .owl-nav .owl-next{
    left:47%;
    
}

.courses .container{
    margin-bottom: 5.5rem!important;
}


@media only screen and (max-width: 1199px)
{
	
	.course_title{
		font-size: 1rem;
    }
    
    .course_button
	{
		display:flex ;
		flex-direction: column;
		justify-content: center;
	}

	.course_button .btn
	{
        margin-bottom: 0.5rem;
	}
}


@media only screen and (max-width: 768px)
{
    .owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next{
        font-size: 1.1rem;
		width: 40px;
		height: 40px;
		line-height: 42px;
	
	}
}

.login_button{
    min-width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.login_button >*{
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    color: #384158;
}

.login_button a:hover, .login_button a:active, .menu_link a:hover, .menu_link a:active{
    color:#14BDEE;
}

.active a{
    color:#14BDEE;
}


.menu_link a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    font-weight: 700;
    letter-spacing: 0.1em;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.menu_link a:hover{
    color: #14BDEE;
}


.tab_panel .star_outer , .course_info_item .star_outer
{
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.tab_panel .star_outer::before ,.course_info_item .star_outer::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #c3c9cf;
}

.tab_panel .star_inner, .course_info_item .star_inner{
  position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.tab_panel .star_inner::before, .course_info_item .star_inner::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.course_info_item{
    font-size: 14px;
}

.review_rating_stars{
    font-size: 25px;
}

.add_comment .rating{
   font-size: 2rem;
   padding: 0.2rem;
}

.add_comment .rating_num{

    line-height: 0.75;
    font-weight: 900;
    color: #384158;
    display: inline;
    margin: 0 0.5rem;

}

.add_comment .btn{
    margin: 1rem 0;
}

.tabs .tab{
    font-size: 1rem;
    min-height: 40px;
}

